body.front {
  .region-content {
    width: 100%;
    float: left;
  }
}
.page-autocamioane-comparare {
  @media (max-width: @screen-xs-max) {
    .main-container { 
      max-width: inherit;
    }
    #block-views-categorii-filter-block {
      max-width: 292.5px;
      margin: 0 auto;
    }
  }
}
.view-autocamioane-rulate {
  .view-content {
    width: 100%;
    float: left;
    .views-table { 
      width: 100%;
      overflow-y: auto;
      display: block;
      tbody {
        width: 1400px;
        display: block;
        > tr {
          width: 100%;
          display: block;
          float: left;
          > th, > td {
            width: 20%;
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-top: 1px solid @grey;
            display: block;
            float: left;
            max-width: 280px;
            min-height: 31px;
          }
          .views-field-ops-1 {
            .flag-like {
              float: left;
              a {
                display: inline-block;
                line-height: 45px;
                color: transparent;
                height: 20px;
                width: 20px;
                background-image: url('../images/disabled-star-icon.png');
                background-repeat: no-repeat;
                background-position: center;
                &:hover, &.unflag-action {
                  background-image: url('../images/enabled-star-icon.png');
                }
              }
            }
            .flag-compara {
              float: right;
              a {
                padding: 5px 10px 5px 25px;
                text-decoration: none;
                color: @white;
                background-color: @light-black;
                background-image: url('../images/panel-heading-collapsed-icon.png');
                background-repeat: no-repeat;
                background-position: 1px center;
                margin-bottom: -14px;
                display: block;
                &.unflag-action {
                  background-image: url('../images/panel-heading-icon.png');
                  background-color: @black;
                }
              }
            }
          }
          .categoria {
            padding-top: 0; 
            padding-bottom: 0;
            font-size: 15px;
            color: @gray;
          }
          .views-field-field-images {
            padding-bottom: 0;
            padding-top: 0;
            border: 0;
          }
        }
        .bottom-wrapper {
          > th, > td {
            border: none;
            padding-top: 0;
            padding-bottom: 0;
          }
          .price {
            font-size: 18px;
            float: left;
            margin-top: 8px;
            @media (min-width: @screen-sm-min) {
              font-size: 19px
            }
            @media (min-width: @screen-lg-min) {
              font-size: 20px
            }
          }
          .btn {
            float: right;
          }
        }
        .marca {
          .h3();
          color: @azure;
          > th, > td {
            padding-bottom: 5px;
            border: none;
            padding-top: 0;
          }
        }
        .title {
          font-size: 14px;
          > th, > td {
            border: none;
            padding-top: 0;
            @media (min-width: @screen-sm-min) {
              font-size: 15px
            }
            @media (min-width: @screen-lg-min) {
              font-size: 16px
            }
          }
        }
      }
    }
    .views-row {
      padding-bottom: 30px;
      .bandou {
        position: relative;
        overflow: hidden;
        .taguri-wrapper {
          position: absolute;
          top: 0;
          color: @white;
          font-weight: bold;
          text-transform: uppercase;
          background-color: @azure;
          width: 50%;
          height: 50%;
          margin-top: -13%;
          margin-left: -21%;
          .rotate(-45deg);
          .taguri {
            position: absolute;
            text-align: center;
            width: 50%;
            bottom: 5%;
            left: 50%;
            margin-left: -25%;
            .translate3d( 0, 0, 0);
            @media (min-width: @screen-sm-min) {
              font-size: 12px
            }
            @media (min-width: @screen-lg-min) {
              font-size: 14px
            }
          }
        }
      }
      .marca {
        margin-bottom: 5px;
      }
      .title {
        font-size: 14px;
        margin-bottom: 10px;
        @media (min-width: @screen-sm-min) {
          font-size: 15px
        }
        @media (min-width: @screen-lg-min) {
          font-size: 16px
        }
      }
      .categoria {
        font-size: 15px;
        color: @gray;
        margin-bottom: 15px;
      }
      .views-field-field-prima-inmatriculare, 
      .views-field-field-rulaj-km, 
      .views-field-field-norma-de-poluare {
        .field-content {
          float: right;
        }
        .views-label {
          font-weight: inherit !important;
        }
      }
      .bottom-wrapper {
        width: 100%;
        padding-top: 15px;
        border-top: 1px solid @grey;
        .clearfix();
        float: left;
        width: 100%;
        .price {
          font-size: 18px;
          float: left;
          margin-top: 8px;
          @media (min-width: @screen-sm-min) {
            font-size: 19px
          }
          @media (min-width: @screen-lg-min) {
            font-size: 20px
          }
        }
        .btn {
          float: right;
        }
      }
      .views-field {
        .clearfix();
        margin-bottom: 10px;
        .views-label {
          font-weight: bold;
        }
      }
      .views-field-field-numar-autovehicul-rulat {
        margin-bottom: 15px;
      }
      .views-field-ops {
        display: block;
        float: left;
        margin-top: 4px;
        a {
          display: inline-block;
          line-height: 45px;
          color: transparent;
          height: 20px;
          width: 20px;
          background-image: url('../images/disabled-star-icon.png');
          background-repeat: no-repeat;
          background-position: center;
          &:hover, &.unflag-action {
            background-image: url('../images/enabled-star-icon.png');
          }
        }
      }
      .views-field-ops-1 {
        display: block;
        float: right;
        clear: right;
        .flag-wrapper {
          a {
            padding: 5px 10px 5px 25px;
            text-decoration: none;
            color: @white;
            background-color: @light-black;
            background-image: url('../images/panel-heading-collapsed-icon.png');
            background-repeat: no-repeat;
            background-position: 1px center;
            margin-bottom: -14px;
            display: block;
            &.unflag-action {
              background-image: url('../images/panel-heading-icon.png');
              background-color: @black;
            }
          }
        }
      }
    }
  }
}

.view-noutati {
  .view-content {
    .clearfix();
  }
  .views-row {
    .clearfix();
    margin-bottom: 30px;
    header {
      .clearfix();
      h2 {
        float: left;
        margin-top: 0;
        a {
          color: @azure;
          text-decoration: none;
          &:hover, &:focus {
            color: @dark-azure;
          }
        }
      }
      .submitted {
        float: right;
        margin-top: 5px;
        @media (min-width: @screen-sm-min) {
          margin-top: 10px;
        }
        @media (min-width: @screen-md-min) {
          margin-top: 15px;
        }
      }
    }
    .field-name-body {
      padding-bottom: 15px;
      margin-bottom: 0;
      border: none;
    }
    .field-name-field-tags {
      padding-top: 15px;
      margin-bottom: 15px;
      float: right;
      .field-item {
        margin-right: 0;
        margin-left: 5px;
      }
    }
    .links {
      padding-top: 15px;
      border-top: 1px solid @grey;
      margin-bottom: 15px;
      .node-readmore {
        a {
          font-size: 15px;
          padding: 2px 0 0;
          color: @gray;
          text-transform: uppercase;
          font-weight: 700;
          border-radius: 0;
          &:hover, &:focus {
            outline: none;
            box-shadow: none;
            text-decoration: none;
            color: @black;
          }
        }
      }
    }
  }
  .views-row-even {
    @media (min-width: @screen-sm-min) {
      margin-left: 16.666666666666%;
    }
    @media (min-width: @screen-md-min) {
      margin-left: 25%;
    }
  }
}