.main-container {
  margin-bottom: 50px;
  @media (max-width: @screen-xs-max) {
    max-width: 292.5px;
  }
}

#block-block-3 {
  img {
    width: 100%;
  }
}

.field-name-field-image {
  margin-bottom: 10px;
  @media (min-width: @screen-sm-min) {
    float: left;
    margin-right: 15px;
  }
  img {
    margin: 0 auto;
  }
}
.field-name-field-tags {
  .field-item {
    display: inline;
    padding: 5px 10px;
    border: 1px solid @grey;
    border-radius: 5px;
    margin-right: 5px;
  }
}

.field-label-inline {
  margin-bottom: 15px;
  .field-label {
    width: 50%;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid @grey;
    @media (min-width: @screen-lg-min) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: @screen-mg-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .field-items {
    width: 50%;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid @grey;
    @media (min-width: @screen-lg-min) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (min-width: @screen-mg-min) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
}

.field-label-above {
  .field-label {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
  }
  .field-items {
    line-height: 26px;
  }
}

.field-name-body {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid @grey;
  @media (max-width: @screen-sm-max) {
    margin-top: 30px;
  }
}

.cloud-zoom-container {
  @media (max-width: @screen-sm-max) {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 30px
  }
  .clearfix();
  padding-bottom: 50px;
  border-bottom: 1px solid @grey;
  margin-bottom: 40px;
  #wrap {
    @media (min-width: @screen-sm-min) {
      float: none;
      max-width: 600px;
      margin: 0 auto;
    }
    @media (min-width: @screen-md-min) {
      float: left;
      max-width: 443px;
    }
    @media (min-width: @screen-lg-min) {
      max-width: initial;
    }
  }
  .cloud-zoom-gallery-thumbs {
    clear: none;
    float: none !important;
    a {
      display: block;
      float: left;
      margin-top: 20px;
      width: 50%;
      @media (max-width: @screen-xs-max) {
        &:nth-child(2n) {
          padding-left: 10px;
        }
        &:nth-child(2n-1) {
          padding-right: 10px;
        }
      }
      @media (min-width: @screen-sm-min) {
        margin-left: 20px;
        width: auto;
      }
      @media (min-width: @screen-lg-min) {
        &:nth-child(4n+1) {
          margin-left: 0;
        }
      }
      @media (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        &:nth-child(3n+1) {
          margin-left: 0;
        }
      }
      @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        &:nth-child(3n-2) {
          margin-left: 0;
        }
      }
      &:first-child {
        @media (min-width: @screen-md-min) {
          margin-top: 0;
          margin-left: 20px;
        }
      }
    }
  }
}

.group-contact {
  background-color: @gray;
  color: @white;
  .box-shadow(1px 1px 5px 0px @gray);
  .top {
    padding-left: 50px;
    background-image: url('../images/contact-phone-icon.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    @media (min-width: @screen-sm-min) {
      padding-left: 90px;
      background-position: left 30px center;
    }
    .field-name-field-telefon {
      font-weight: bold;
      background-color: @dark-gray;
      font-size: 20px;
      padding: 15px 15px 0;
      @media (min-width: @screen-sm-min) {
        font-size: 30px;
        padding: 15px 30px 0;
      }
    }
    .field-name-field-locatie-vehicul {
      font-size: 12px;
      padding: 0 15px 15px;
      background-color: @dark-gray;
      margin: 0;
      @media (min-width: @screen-sm-min) {
        padding: 0 30px 15px;
      }
      .field-label, .field-items {
        width: auto;
        border: none;
        padding: 0;
        font-weight: normal;
      }
    }
  }
  .bottom {
    padding: 15px;
    background-color: @azure;
    @media (min-width: @screen-sm-min) {
      padding: 15px 30px;
    }
    .field-name-field-persoana-de-contact, .field-name-field-pozitie {
      display: inline-block;
    }
    .field-name-field-persoana-de-contact {
      /*font-weight: bold;*/
      padding-right: 10px;
    }
    .field-name-field-pozitie {
      font-style: italic;
    }
  }
}

.group-price {
  margin: 0 15px;
  padding: 15px;
  background-color: @grey;
  @media (min-width: @screen-sm-min) {
    margin: 0 30px;
    padding: 30px;
  }
  .box-shadow(1px 1px 5px 0px @gray);
  .field-label-inline {
    font-size: 14px;
    @media (min-width: @screen-sm-min) {
      font-size: 15px;
    }
    .field-label, .field-items {
      width: auto;
      border: none;
      padding: 0;
      font-weight: normal;
    }
    .field-label {
      font-weight: bold;
    }
    .field-items {
      float: right;
    }
  }
  .field-name-field-pret-autovehicul {
    .field-items {
      font-weight: bold;
      color: @black;
    }
  }
  .field-name-field-20-tva {
    padding-bottom: 20px;
    border-bottom: 1px solid @gray;
  }
  .field-name-field-pret-total-cu-tva {
    margin-bottom: 0;
    .field-label {
      color: @black;
      margin-top: 10px;
    }
    .field-items {
      font-size: 17px;
      font-weight: bold;
      color: @azure;
      margin-top: 8px;
      @media (min-width: @screen-sm-min) {
        font-size: 26px;
        margin-top: 0;
      }
    }
  }
}

.field-name-field-marca {
  .h1();
  margin: 0 10px 0 0;
  color: @azure;
  display: inline-block;
}

.node-type-autocamion {
  .page-header, .flag-outer-like, .flag-outer-compara {
    display: inline-block;
    margin: 0 10px 20px 0;
  }
}

.flag-outer-like {
  .flag-wrapper {
    a {
      display: inline-block;
      line-height: 45px;
      color: transparent;
      height: 20px;
      width: 20px;
      background-image: url('../images/disabled-star-icon.png');
      background-repeat: no-repeat;
      background-position: center;
      &:hover, &.unflag-action {
        background-image: url('../images/enabled-star-icon.png');
      }
    }
  }
}

.flag-outer-compara {
  .flag-wrapper {
    a {
      padding: 5px 10px 5px 25px;
      text-decoration: none;
      color: @white;
      background-color: @light-black;
      background-image: url('../images/panel-heading-collapsed-icon.png');
      background-repeat: no-repeat;
      background-position: 1px center;
      margin-bottom: -14px;
      display: block;
      &.unflag-action {
        background-image: url('../images/panel-heading-icon.png');
        background-color: @black;
      }
    }
  }
}

#block-sharethis-sharethis-block, #block-print-block, #block-print-pdf-block, #block-text-resize-0 {
  margin-bottom: 30px;
  span, .changer, .print-node {
    margin-left: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    display: block;
    height: 30px;
    width: 30px;
    float: left;
    background-color: @grey;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    &:hover, &:focus {
      background-color: @light-black;
    }
    img {
      display: none;
    }
  }
  .changer {
    background-color: @gray;
    &:hover, &:focus {
      background-color: @light-black;
    }
  }
  .st_email_custom {
    background-image: url('../images/email-icon.png');
  }
  .st_facebook_custom {
    background-image: url('../images/facebook-icon.png');
  }
  .st_twitter_custom {
    background-image: url('../images/twitter-icon.png');
  }
  .print {
    background-image: url('../images/print-icon.png');
  }
  .print-pdf {
    background-image: url('../images/print-pdf-icon.png');
  }
  #text_resize_decrease {
    background-image: url('../images/text-.png');
  }
  #text_resize_reset {
    background-image: url('../images/text-reset.png');
  }
  #text_resize_increase {
    background-image: url('../images/text+.png');
  }
}

.contact-icon, .icon-email{
 font-size:20px;
 padding-right:6px;
 color:#337ab7;
}

#block-views-echipa-block{
  .functia{
    font-size: 12px !important;
  }
}  

.email-echipa{
  font-size:12px !important;
}

#block-views-echipa-block {
  .view-content {
    div.views-row {
      @media (min-width: @screen-sm-min) {
        &:nth-child(3n+1) {
          clear: left;
        }
      }
      @media (min-width: @screen-md-min) {
        &:nth-child(3n+1) {
          clear: none;
        }
        &:nth-child(4n+1) {
          clear: left;
        }
      }
    }
  }
}

