.print-content {
  .field-name-field-images {
    margin-bottom: 50px;
    .field-item {
      width: 600px;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
  .field-name-body {
    margin-top: 50px;
  }
}